api/src/locale/_build
node_modules
dist
*.swp
**/*.egg-info
**/__pycache__
**/*.pyc
**/.cache/
**/.mypy_cache/
etl/env
extract_endpoint/env
extract_endpoint/tests/azure_emulator
.python-version
.env
.idea
.vs
package-lock.json
yarn-error.log
api/yarn-error.log
