setuptools==38.4.0
astroid==1.5.3
flask>=0.12.3
gevent==1.2.2
greenlet==0.4.13
gunicorn==19.7.1
azure-storage-blob==1.1.0
pylint==1.8.1
pytest==3.3.2
pytest-timeout==1.2.1
pytest-cov==2.5.1
mypy==0.560
click==6.7
dnspython==1.15.0
pymongo==3.6.0
git+git://github.com/cds-snc/cerberus.git#egg=cerberus
python-dateutil==2.6.1
lxml==4.1.1
coverage==4.5.1
tqdm==4.19.6
typing-extensions==3.6.2.1
python-Levenshtein==0.12.0
