setuptools==38.4.0
astroid==1.5.3
azure-storage-blob==1.1.0
pylint==1.8.1
pytest==3.3.2
pytest-cov==2.5.1
mypy==0.560
click==6.7
dnspython==1.15.0
pymongo==3.6.0
git+git://github.com/cds-snc/cerberus.git#egg=cerberus
python-dateutil==2.6.1
lxml==4.1.1
coverage==4.5.1
